In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('emed_careers_eu.csv')

In [3]:
df

,category,company_name,job_description,job_title,job_type,location,post_date,salary_offered
0,Clinical Research,PPD GLOBAL LTD,"As part of our on-going growth, we are current...",Senior / Medical Writer (Regulatory),Permanent,Cambridge,4/14/2018,Competitive
1,Science,AL Solutions,Manager of Biometrics – Italy\nAL Solutions ar...,Manager of Biometrics,Permanent,Europe,4/16/2018,NaN
2,Science,Seltek Consultants Ltd,A fantastic opportunity has arisen for an expe...,Field Service Engineer | Chromatography,Permanent,UK,4/16/2018,NaN
3,Data Management and Statistics,Docs International UK Limited,Job Details\n:\nUtilise extensive clinical dat...,Data Manager of Project Management,Permanent,M4 Corridor,4/11/2018,On Application
4,Science,Hyper Recruitment Solutions Ltd,Hyper Recruitment Solutions are currently look...,Strategic Market Analyst,Permanent,Cambridge,4/13/2018,NaN
...,...,...,...,...,...,...,...,...
39769,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39770,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39771,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39772,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39773,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN